# Common files
*.sdf
*.opensdf
# .suo* Compiled Object files
*.slo
*.lo
*.o
*.bak

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a
*.suo
*.filters
*.obj
*.log
*.tlog
*.lastbuildstate
*.idb
*.exe
*.ilk
*.pdb
*.lib
*.user
*.json
*.psess
*.vspx
FaceDetectionLib/doc/
FaceDetection_manual.chm
