# Common files
*.sdf
*.opensdf
# .suo* Compiled Object files
*.slo
*.lo
*.o
*.bak

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.suo
*.user
*.vspx
Debug
Release

# Others

FaceDetectionLib/doc/
FaceDetection_manual.chm
